html, body {
  height: 100vh;
  margin: 0;
}

header {
  margin: 0 auto 30px auto;
  max-width: 800px;
  box-shadow: 1px 1px 2px #ccc, 0 0 25px red, 0 0 5px darkred;
}

footer {
  bottom: 0;
  /* position: absolute;
  background-color: #eee; */
}

footer div {
  margin: auto;
  max-width: 800px;
  /* box-shadow: 1px 1px 2px #ccc, 0 0 25px red, 0 0 5px darkred; */
}

main {
  margin: auto;
  max-width: 800px;
}

.App {
  text-align: center;
  flex: 1 0 auto;
}

.check-box {
  display: none;
}

.check-box + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  margin: auto;
  border-radius: 4px;
}

.check-box + label:active, .check-box:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.check-box:checked + label {
	/* background-color: #eee; */
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.check-box:checked + label:after {
	content: '\2715';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
  color: red;
}

.select-bakarim {
  text-align: center;
  min-width: 150px;
  max-width: 250px;
}

/* tr, col {
  border: 2px solid #555;
} */

.shifts-td {
  padding: 5px 0 5px 0 !important;
  border: 0 !important;
}

p.bakar {
  margin: 0;
  padding: 4px;
  border: 1px groove
}

.unresizeable {
  resize: none;
}

.ready-table {
  margin: 10px auto 10px auto;
  padding: 10px;
  border: groove;
}