html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  flex: 1 0 auto;
  padding: 10px
}

.check-box {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

footer {
  flex-shrink: none;
  margin-top: 20%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: 10px;
}

.small-font {
  font-size: small;
}

.tiny-font {
  font-size: x-small;
}

.min-size-900 {
  min-width: 947px;
}

u {
  color: blue;
  cursor: pointer;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  color: red;
}

.try {
  vertical-align: bottom;
  display:inline-block;
}

.text-align-right {
  text-align: right;
}


.submission-form {
  max-width: 800px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
