html, body {
  height: 100vh;
  margin: 0;
}

header {
  margin: 0 auto 30px auto;
  max-width: 800px;
  box-shadow: 1px 1px 2px #ccc, 0 0 25px red, 0 0 5px darkred;
}

footer {
  bottom: 0;
  /* position: absolute;
  background-color: #eee; */
}

footer div {
  margin: auto;
  max-width: 800px;
  /* box-shadow: 1px 1px 2px #ccc, 0 0 25px red, 0 0 5px darkred; */
}

main {
  margin: auto;
  max-width: 800px;
}

.App {
  text-align: center;
  flex: 1 0 auto;
}

.select-bakarim {
  text-align: center;
  min-width: 222px;
  max-width: 300px;
  width: auto;
}

/* tr, col {
  border: 2px solid #555;
} */

.shifts-td {
  padding: 5px 0 5px 0 !important;
  border: 0 !important;
}

p.shifts-bakar {
  margin: 0;
  padding: 4px;
  border: 1px groove
}

.unresizeable {
  resize: none;
}

.ready-table {
  margin: 10px auto 10px auto;
  padding: 10px;
  /* border: groove; */
}